*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p {
    margin: 0;
}

body {
    font: 20px/26px "Open Sans", sans-serif;
    color: #191919;
}

h1,
h2,
h3,
h4 {
    color: #222020;
}

a {
    transition: all 0.2s linear;
}

a:hover {
    opacity: 0.7;
}

img {
    max-width: 100%;
    display: block;
}

.base_cantainer {
    margin: 0 auto;
}

@media (max-width: 480px) {
    .base_cantainer {
        padding: 0 22px;
    }
}

@media (min-width: 1920px) {
    .base_cantainer {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 0 550px 0 0;
    }
}

@media (min-width: 3000px) {
    .base_cantainer {
        display: block;
        padding: 0;
    }
}

.base_cantainer-sing {
    padding: 0 20px;
}

@media (min-width: 680px) {
    .base_cantainer-sing {
        padding: 0 86px 0 134px;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}

@media (min-width: 768px) {
    .base_cantainer-sing {
        padding: 0 131px 0 177px;
    }
}

@media (min-width: 1024px) {
    .base_cantainer-sing {
        padding: 0 22px;
    }
}

@media (min-width: 1280px) {
    .base_cantainer-sing {
        padding: 0;
        margin: 0 0 0 64px;
    }
}

@media (min-width: 1500px) {
    .base_cantainer-sing {
        margin: 0 0 0 200px;
    }
}

@media (min-width: 1920px) {
    .base_cantainer-sing {
        margin: 0 0 0 140px;
    }
}

@media (min-width: 2400px) {
    .base_cantainer-sing {
        margin: 0 0 0 435px;
    }
}

@media (min-width: 2500px) {
    .base_cantainer-sing {
        margin: 0 0 0 495px;
    }
}

@media (min-width: 2700px) {
    .base_cantainer-sing {
        margin: 0 0 0 615px;
    }
}

@media (min-width: 2850px) {
    .base_cantainer-sing {
        margin: 0 0 0 705px;
    }
}

@media (min-width: 3000px) {
    .base_cantainer-sing {
        margin: 0 0 0 790px;
    }
}

.base_title {
    font: 700 28px/30px "Open Sans", sans-serif;
}

@media (min-width: 680px) {
    .base_title {
        font: 700 45px/50px "Open Sans", sans-serif;
    }
}

@media (min-width: 1024px) {
    .base_title {
        font: 700 68px/72px "Open Sans", sans-serif;
    }
}

.base_subtitle {
    font: 24px/32px "Open Sans", sans-serif;
    padding: 32px 0 0;
}

.base_text {
    padding: 22px 0 24px;
}

@media (min-width: 680px) {
    .base_text-width {
        width: 550px;
    }
}

.base_link {
    font: 600 20px/24px "Open Sans", sans-serif;
    color: #00afed;
}

.base_price {
    padding: 32px 0 15px;
    font: 28px/30px "Open Sans", sans-serif;
    color: #222020;
}

@media (min-width: 680px) {
    .base_price {
        padding: 64px 0 24px;
        font: 45px/50px "Open Sans", sans-serif;
    }
}

.base_btn-bye {
    display: inline-block;
    padding: 7px 0;
    min-width: 93px;
    font: 700 16px/34px "Open Sans", sans-serif;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    border-radius: 4px;
    background: #192f43;
}

@media (min-width: 400px) {
    .base_btn-bye {
        min-width: 170px;
        margin: 0 5px 0 0;
    }
}

.base_btn-loan {
    display: inline-block;
    padding: 7px 0;
    min-width: 148px;
    font: 700 16px/34px "Open Sans", sans-serif;
    text-align: center;
    text-decoration: none;
    color: #192f43;
    border-radius: 4px;
    background: #c7e7f8;
}

@media (min-width: 400px) {
    .base_btn-loan {
        min-width: 170px;
    }
}

.main_container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
}

@media (min-width: 1920px) {
    .main_container {
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-align: end;
        align-items: flex-end;
    }
}

@media (min-width: 3000px) {
    .main_container {
        -ms-flex-pack: center;
        justify-content: center;
    }
}

.main_container-header {
    padding: 130px 13px 140px 15px;
    text-align: center;
    font: 700 28px/28px "Open Sans", sans-serif;
}

@media (min-width: 680px) {
    .main_container-header {
        font: 700 45px/50px "Open Sans", sans-serif;
        padding: 234px 0 95px;
    }
}

@media (min-width: 768px) {
    .main_container-header {
        padding: 234px 0 120px;
    }
}

@media (min-width: 1024px) {
    .main_container-header {
        font: 700 68px/72px "Open Sans", sans-serif;
        padding: 210px 0 110px;
    }
}

@media (min-width: 1280px) {
    .main_container-header {
        padding: 210px 0 125px;
    }
}

@media (min-width: 1920px) {
    .main_container-header {
        padding: 211px 0;
    }
}

.main_container-girl,
.main_container-man,
.main_container-man-wide {
    display: none;
}

@media (min-width: 1920px) {
    .main_container-girl,
  .main_container-man {
        display: block;
    }
}

@media (min-width: 3000px) {
    .main_container-man {
        display: none;
    }
}

@media (min-width: 3000px) {
    .main_container-girl {
        padding: 0 120px 0 0;
    }
}

@media (min-width: 3000px) {
    .main_container-man-wide {
        display: block;
        padding: 0 0 0 120px;
    }
}

.main_evosound {
    padding: 0 0 70px;
    background: #fafafa;
}

@media (min-width: 680px) {
    .main_evosound {
        padding: 0 0 90px;
    }
}

@media (min-width: 1280px) {
    .main_evosound-item {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
}

@media (min-width: 2350px) {
    .main_evosound-item {
        -ms-flex-pack: end;
        justify-content: flex-end;
    }
}

.main_evosound-item-about {
    padding: 0 22px;
}

@media (min-width: 680px) {
    .main_evosound-item-about {
        padding: 0 60px;
    }
}

@media (min-width: 768px) {
    .main_evosound-item-about {
        padding: 0 102px;
    }
}

@media (min-width: 1024px) {
    .main_evosound-item-about {
        padding: 0 0 0 22px;
    }
}

@media (min-width: 1280px) {
    .main_evosound-item-about {
        width: 50%;
        padding: 155px 95px 0 64px;
        -ms-flex-order: -1;
        order: -1;
    }
}

@media (min-width: 1500px) {
    .main_evosound-item-about {
        padding: 155px 0 0 200px;
    }
}

@media (min-width: 2400px) {
    .main_evosound-item-about {
        width: 40%;
    }
}

@media (min-width: 1500px) {
    .main_evosound-item-about {
        padding: 155px 0 0 140px;
    }
}

@media (min-width: 3000px) {
    .main_evosound-item-about {
        padding: 155px 0 0 390px;
    }
}

.main_evosound-item-img {
    margin: 0 0 0 auto;
}

.main_evosound-sing {
    padding: 119px 0 0;
    text-align: center;
}

@media (min-width: 680px) {
    .main_evosound-sing {
        padding: 218px 0 0;
        text-align: left;
    }
}

@media (min-width: 1024px) {
    .main_evosound-sing {
        padding: 0;
    }
}

.main_evosound-sing-title {
    font: 700 24px/30px "Open Sans", sans-serif;
}

@media (min-width: 680px) {
    .main_evosound-sing-title {
        width: 100%;
        font: 700 40px/54px "Open Sans", sans-serif;
    }
}

@media (min-width: 1024px) {
    .main_evosound-sing-title {
        width: unset;
        margin: 41px 60px 0 0;
    }
}

@media (min-width: 1280px) {
    .main_evosound-sing-title {
        font: 700 45px/50px "Open Sans", sans-serif;
        margin: 38px 100px 0 0;
    }
}

.main_evosound-sing-item {
    margin: 64px 0;
    color: #222020;
}

@media (min-width: 680px) {
    .main_evosound-sing-item {
        margin: 37px 0;
        width: 50%;
    }
}

@media (min-width: 1024px) {
    .main_evosound-sing-item {
        width: unset;
        margin: 0 60px 0 0;
    }
}

.main_evosound-sing-item-number {
    padding: 22px 0 0;
    font: 52px/60px "Open Sans", sans-serif;
}

.main_evosound-sing-item-text {
    font: 24px/32px "Open Sans", sans-serif;
}

.main_evosound-sing-item-img {
    margin: 0 auto;
    height: 83px;
}

@media (min-width: 680px) {
    .main_evosound-sing-item-img {
        margin: 0;
    }
}

.main_evosound-sing-img {
    margin: 128px auto 0;
}

@media (min-width: 680px) {
    .main_evosound-sing-img {
        margin: 144px auto 0;
    }
}

@media (min-width: 1024px) {
    .main_evosound-sing-img {
        margin: 144px 0 0;
    }
}

@media (min-width: 1024px) {
    .main_evosound-sing-img {
        margin: 100px 0 0;
    }
}

.sphere {
    padding: 90px 0 0;
}

@media (min-width: 680px) {
    .sphere {
        padding: 165px 0 0;
    }
}

@media (min-width: 768px) {
    .sphere {
        padding: 240px 0 0;
    }
}

@media (min-width: 1024px) {
    .sphere {
        padding: 290px 0 0;
    }
}

@media (min-width: 680px) {
    .sphere_info {
        text-align: center;
    }
}

.sphere_img {
    position: relative;
    z-index: -1;
    margin: 60px auto 0;
}

@media (min-width: 768px) {
    .sphere_img {
        margin: -140px auto 0;
    }
}

@media (min-width: 768px) {
    .sphere_img {
        margin: -140px auto 0;
    }
}

@media (min-width: 1024px) {
    .sphere_img {
        margin: -240px auto 0;
    }
}

@media (min-width: 1280px) {
    .sphere_img {
        margin: -640px auto 0;
    }
}

@media (min-width: 1920px) {
    .sphere_img {
        margin: -640px 0 0;
    }
}

@media (min-width: 3000px) {
    .sphere_img {
        margin: -640px auto 0;
    }
}

.microphone {
    margin: 40px 0 0 0;
    background: linear-gradient(0deg, #f5c753, #f5c753), #fca102;
    padding: 95px 0;
}

@media (min-width: 680px) {
    .microphone {
        padding: 160px 0 190px;
        text-align: center;
    }
}

@media (min-width: 768px) {
    .microphone {
        padding: 160px 0 160px;
    }
}

@media (min-width: 1024px) {
    .microphone {
        padding: 200px 0 170px;
    }
}

.microphone_img {
    margin: 0 -22px 0 auto;
}

@media (min-width: 680px) {
    .microphone_img {
        margin: 0 auto;
    }
}

@media (min-width: 680px) {
    .microphone_info {
        padding: 0 55px;
    }
}

@media (min-width: 768px) {
    .microphone_info {
        padding: 0 100px;
    }
}

.kits {
    margin: 72px auto;
    padding: 0 10px;
    width: 100%;
    max-width: 1140px;
}

@media (min-width: 680px) {
    .kits {
        text-align: center;
        padding: 0 28px;
        margin: 160px auto 110px;
    }
}

@media (min-width: 1280px) {
    .kits {
        padding: 0;
    }
}

@media (min-width: 1920px) {
    .kits {
        margin: 160px 0 110px 200px;
    }
}

@media (min-width: 2400px) {
    .kits {
        margin: 160px 0 110px 450px;
    }
}

@media (min-width: 2500px) {
    .kits {
        margin: 160px 0 110px 520px;
    }
}

@media (min-width: 2700px) {
    .kits {
        margin: 160px 0 110px 640px;
    }
}

@media (min-width: 2850px) {
    .kits {
        margin: 160px 0 110px 730px;
    }
}

@media (min-width: 3000px) {
    .kits {
        margin: 160px auto 110px;
    }
}

.kits_subtitle {
    font: 700 28px/30px "Open Sans", sans-serif;
}

@media (min-width: 680px) {
    .kits_subtitle {
        font: 700 30px/33px "Open Sans", sans-serif;
    }
}

@media (min-width: 1024px) {
    .kits_subtitle {
        font: 700 40px/48px "Open Sans", sans-serif;
    }
}

.kits_cards {
    padding: 32px 0 0;
}

@media (min-width: 680px) {
    .kits_cards {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
}

@media (min-width: 768px) {
    .kits_cards {
        padding: 32px 32px 0 32px;
    }
}

@media (min-width: 900px) {
    .kits_cards {
        padding: 32px 72px 0 72px;
    }
}

@media (min-width: 1000px) {
    .kits_cards {
        padding: 32px 0 0;
    }
}

.kits_cards-item {
    text-align: left;
    margin: 0 0 55px;
}

@media (min-width: 680px) {
    .kits_cards-item {
        width: 300px;
    }
}

@media (min-width: 1280px) {
    .kits_cards-item {
        width: 360px;
    }
}

.kits_cards-item-title {
    font: 700 24px/30px "Open Sans", sans-serif;
    padding: 23px 0 0;
}

@media (min-width: 680px) {
    .kits_cards-item-title {
        font: 700 28px/30px "Open Sans", sans-serif;
    }
}

.kits_cards-item-text {
    padding: 32px 0 16px;
}

.evolite {
    background: #c3d3e0;
}

.evopro {
    background: #eeefee;
}

.evolite,
.evopro {
    padding: 72px 22px;
}

@media (min-width: 680px) {
    .evolite,
    .evopro {
        padding: 160px 0 100px;
    }
}

@media (min-width: 768px) {
    .evolite,
    .evopro {
        padding: 160px 0 150px;
    }
}

@media (min-width: 1280px) {
    .evolite,
    .evopro {
        padding: 148px 0 235px;
    }
}

@media (min-width: 1920px) {
    .evolite,
    .evopro {
        padding: 148px 0 192px;
    }
}

@media (min-width: 3000px) {
    .evolite,
    .evopro {
        padding: 190px 0 150px;
    }
}

.evocase {
    padding: 72px 22px;
}

@media (min-width: 680px) {
    .evocase {
        padding: 64px 0 190px;
    }
}

@media (min-width: 1280px) {
    .evocase {
        padding: 60px 0;
    }
}

.evolite_content {
    width: 100%;
    max-width: 1180px;
}

@media (min-width: 1920px) {
    .evolite_content {
        max-width: 1225px;
    }
}

.evopro_content,
.evocase_content {
    width: 100%;
    max-width: 1130px;
}

@media (min-width: 1920px) {
    .evopro_content,
    .evocase_content {
        max-width: 1240px;
    }
}

.evolite_content,
.evopro_content,
.evocase_content {
    margin: 0 auto;
}

@media (min-width: 1280px) {
    .evolite_content,
    .evopro_content,
    .evocase_content {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-align: center;
        align-items: center;
    }
}

@media (min-width: 1920px) {
    .evolite_content,
    .evopro_content,
    .evocase_content {
        margin: 0 0 0 200px;
    }
}

@media (min-width: 2500px) {
    .evolite_content,
    .evopro_content,
    .evocase_content {
        margin: 0 0 0 450px;
    }
}

@media (min-width: 2800px) {
    .evolite_content,
    .evopro_content,
    .evocase_content {
        margin: 0 0 0 650px;
    }
}

@media (min-width: 3000px) {
    .evolite_content,
    .evopro_content,
    .evocase_content {
        margin: 0 auto;
    }
}

.evolite_content-info,
.evopro_content-info,
.evocase_content-info {
    width: 100%;
    max-width: 510px;
    margin: 0 auto;
}

@media (min-width: 1280px) {
    .evolite_content-info,
    .evopro_content-info,
    .evocase_content-info {
        margin: 0;
    }
}

@media (min-width: 1920px) {
    .evolite_content-info,
    .evopro_content-info,
    .evocase_content-info {
        max-width: 540px;
    }
}

.evocase_content-info {
    -ms-flex-order: -1;
    order: -1;
}

.evolite_content-info-title,
.evopro_content-info-title,
.evocase_content-info-title {
    font: 700 28px/30px "Open Sans", sans-serif;
}

@media (min-width: 680px) {
    .evolite_content-info-title,
    .evopro_content-info-title,
    .evocase_content-info-title {
        font: 700 45px/50px "Open Sans", sans-serif;
    }
}

@media (min-width: 1920px) {
    .evolite_content-info-title,
    .evopro_content-info-title,
    .evocase_content-info-title {
        font: 700 68px/72px "Open Sans", sans-serif;
    }
}

.evolite_content-img {
    max-width: 560px;
    margin: 0 auto 45px;
}

@media (min-width: 680px) {
    .evolite_content-img {
        margin: 0 auto 190px;
    }
}

@media (min-width: 768px) {
    .evolite_content-img {
        margin: 0 auto 140px;
    }
}

@media (min-width: 1280px) {
    .evolite_content-img {
        margin: 0;
    }
}

.evolite_content-info-icons {
    display: -ms-flexbox;
    display: flex;
    padding: 16px 0 0;
}

.evolite_content-info-icons-home {
    padding: 0 8px;
    margin: 0 10px 0 0;
    text-transform: uppercase;
    color: #63ac00;
    font: 600 12px/24px "Open Sans", sans-serif;
    border: 1px solid #7ac514;
    border-radius: 33px;
}

.evolite_content-info-icons-vip {
    padding: 0 8px;
    text-transform: uppercase;
    color: #8f00ff;
    font: 600 12px/24px "Open Sans", sans-serif;
    border: 1px solid #8f00ff;
    border-radius: 21px;
}

.evopro_content-info-icon {
    display: inline-block;
    margin: 16px 0 0;
    padding: 0 8px;
    text-transform: uppercase;
    color: #e79609;
    font: 600 12px/24px "Open Sans", sans-serif;
    border: 1px solid #e79609;
    border-radius: 21px;
}

.evopro_content-img {
    max-width: 567px;
    margin: 0 auto 45px;
}

@media (min-width: 680px) {
    .evopro_content-img {
        margin: 0 auto 190px;
    }
}

@media (min-width: 768px) {
    .evopro_content-img {
        margin: 0 auto 140px;
    }
}

@media (min-width: 1280px) {
    .evopro_content-img {
        margin: 0;
    }
}

.evocase_content-img {
    width: 100%;
    max-width: 567px;
    margin: 0 auto 45px;
}

@media (min-width: 680px) {
    .evocase_content-img {
        margin: 0 auto 80px;
    }
}

@media (min-width: 768px) {
    .evocase_content-img {
        margin: 0 auto 100px;
    }
}

@media (min-width: 1280px) {
    .evocase_content-img {
        margin: 0;
    }
}
